/********************** RESET ***********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	line-height: 1;
	font-weight:normal;
	font-size:11px;
	overflow:auto;
	font-family:Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************** FIN RESET *********************/

#contenedor_herramientas {
	float:left;
	clear:none;
	border:1px solid red;
}
#contenedor_mejoras {
	float:left;
	clear:none;
	border:1px solid green;
}
#contenedor_logros {
	float:left;
	clear:none;
	border:1px solid blue;
}
#contenedor_ladrrillo {
	float:left;
	clear:none;
	border:1px solid brown;
	padding:20px;
}
#contenedor_ladrrillo img{
	width:256px;
}
.herramienta {
	position:relative;
	width:200px;
	height:100px;
	border:2px solid black;
	border-radius:10px;
	margin:15px 0 0 15px;
	box-shadow: 10px 10px 5px #888888;
}
.trabajo {
	position:relative;
	width:300px;
	height:150px;
	border:2px solid black;
	border-radius:10px;
	margin:15px 0 0 15px;
	box-shadow: 10px 10px 5px #888888;
}
.herramienta progress {
	display:block;
	position:absolute;
	width:180px;
	height:15px;
	left:100px;
	top:26px;
}
.herramienta .botones {
	position:absolute;
	bottom:5px;
	right:5px;
}
.herramienta .botones button {
	width:70px;
	background:lightGreen;
	color:black;
	border:1px solid black;
	border-radius:5px;
}
.herramienta .botones button:disabled {
	width:70px;
	background:pink;
	border:1px solid black;
	border-radius:5px;
}

.Nombre {
	font-size:14px;
	font-weight:bold;
	padding:5px;
}

.etiqueta {
	font-size:10px;
	padding:5px;
}
.etiqueta label{
	font-weight:bold;
}
.FPS_Edificio {
	font-size:10px;
	padding:5px;
}
.Nombre_Trabajo {
	font-size:14px;
	font-weight:bold;
	padding:5px;
}

.contenedor_informacion div {
	border:1px solid black;
	width:200px;
	margin:1px;
	display:inline-block;
}
.contenedor_informacion div img {
	margin:3px;
	display:inline-block;
}
.contenedor_informacion div span {
	padding:3px;
	//border:1px solid red;
	display:inline-block;
}

.divFPS {
	position:absolute;
	top:10px;
	right:10px;
	//border:1px solid violet;
}

div.Requisitos {
	//position:absolute;
	//left:100px;
	//top:50px;
	width:70px;
	margin:1px;
	display:inline-block;
}
div.Requisitos img {
	margin:3px;
	display:inline-block;
}
div.Requisitos span {
	padding:3px;
	//border:1px solid red;
	display:inline-block;
}
.contenedor_botones {
	position:absolute;
	bottom:10px;
	right:10px;
	border:1px solid black;
	padding:5px;
}

#grabando {
	position:absolute;
	bottom:10px;
	left:10px;
	border:2px solid violet;
	background-color:pink;
	border-radius:10px;
	padding:10px;
	transition: opacity 2s ease-in-out;
}
.oculto {
	opacity:0;
}
.visible {
	opacity:1;
}

